
@media (max-width: 991.98px) {
    .footer-link a{
        padding: 0 5px;
        margin: 0 2px;
    }
    
    .banner-wrapper{
        padding-top: 200px;
        padding-bottom: 32px; 
    }
    .section-wrap{
        padding: 90px 0 ;
    }
    .s-wrap{
        margin-bottom: 50px;
    }
    .img-md-100{
        width: 100% !important;
    }
    
    
}
@media (max-width: 767.98px) {
    .footer-logo {
        padding-top: 0px;
    }
    .footer-contact a{
        font-size: 30px;
    }
    .section-wrap{
        padding: 60px 0 ;
    }
    .footer-bottom{
        margin-bottom: 60px;
    }
    .img-sm-100{
        width: 100% !important;
    }
    .max-sm-b-50{
        margin-bottom: 50px;
    }

}

@media (min-width: 1200px) { 
    .w-wrap{
        position: absolute;
        width: 600px;
        bottom: -2rem;
        left: 10rem;
    }
    .box-right{
        left: -10rem;
    }

}

@media (min-width: 992px) { 

    .header-content h2{
        font-size: 62px;
    }
    .section-head h2{
        font-size: 48px;
    }
    .s-wrap{
        padding: 0 30px !important;
    }
    .min-lg-f80{
        font-size: 60px;
    }
    .header-menu ul li a{
        font-size: 60px;
    }
}


